<!DOCTYPE html>
<html>
<head>
    <title>Menu principal</title>
    <link rel="stylesheet" href="/css/index.css">
    
    <script src="/js/index.js"></script>
</head>
<body>
    <h1>Menu principal</h1>

    {{#each comptes}}
    <button id="{{this}}" onclick="window.location.href='{{this}}'">{{this}}</button>
    {{/each}}
    
    
</body>
</html>
