<!DOCTYPE html>
<html>
<head>
    <title>Menu principal</title>
    <link rel="stylesheet" href="/css/index.css">
    
    <script src="/js/index.js"></script>
</head>
<body>
    <h1>Menu principal</h1>

    <div class="main-menu">
    {{#each ids}}
        <button id="compte{{this}}" onclick="window.location.href='compte/{{this}}'">compte {{this}}</button>
    {{/each}}
    </div>
    
</body>
</html>
